<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới Thiệu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="../content/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-logo">
          <a href="depict.html"><img src="../content/images/VIETRAVEL - TRANQUILILY.png" alt="Logo"></a>
        </div>
        <ul class="navbar-menu">
          <li><a href="index.html">Trang Chủ</a></li>
          <li class="has-submenu">
            <a href="#">Gói Tour</a>
            <ul class="submenu">
              <li><a href="#">Tour Châu Âu</a></li>
              <li><a href="#">Tour Châu Á </a></li>
              <li><a href="#">Tour Nam Mỹ</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">Dịch Vụ</a>
            <ul class="submenu">
              <li><a href="#">Vé Máy Bay</a></li>
              <li><a href="#">Vé Visa </a></li>
              <li><a href="#">Vận chuyển - Đưa đón</a></li>
              <li><a href="">Khách Sạn -Lưu Trú</a></li>
            </ul>
          </li>
    
          <li class="has-submenu">
            <a href="#">Tin Tức</a>
            <ul class="submenu">
              <li><a href="#">Tin Trong Nước</a></li>
              <li><a href="#">Tin Quốc Tế </a></li>
       
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">Thư Viện</a>
            <ul class="submenu">
              <li><a href="#">Hình Ảnh</a></li>
              <li><a href="#">Video </a></li>
     
            </ul>
          </li>
          <li><a href="#">Liên Hệ</a></li>
          <li><a href="#">Đăng Ký</a></li>
          <li class="has-submenu">
            <a href="#">Đăng Nhập</a>
            <ul class="submenu">
              <li><a href="#">User</a></li>
              <li><a href="#">Admin </a></li>
            </ul>
          </li>
         
          <li><a href="#"><i class="fas fa-search"></i></a>Tìm Kiếm</li>
        </ul>
        </nav>
      
        <div class="banner">
            <img src="../content/images/Travel (Banner (Landscape)).png" alt="">
        </div>
        <h3 id="gioithieu">Giới Thiệu</h3>
      <div class="gioithieu">
       
        <p>"Chào mừng đến với trang web du lịch của chúng tôi - một nơi tuyệt vời để khám phá những điều tuyệt vời  trên khắp thế giới.<br> Với hàng ngàn địa điểm du lịch, chúng tôi cung cấp cho bạn những trải nghiệm tuyệt vời nhất từ các thành phố lớn đến những vùng quê hẻo lánh. Chúng tôi sử dụng công nghệ tiên tiến để cung cấp cho bạn những thông tin du lịch chi tiết và đáng tin cậy nhất. <br>Bạn có thể tìm kiếm các điểm đến yêu thích của mình, đặt vé máy bay, đặt phòng khách sạn và tìm kiếm các tour du lịch hấp dẫn với mức giá cạnh tranh.<br> Trang web của chúng tôi được thiết kế dễ sử dụng, giúp cho bạn có thể dễ dàng tìm kiếm và đặt chỗ một cách nhanh chóng và thuận tiện. Với sự hỗ trợ của đội ngũ chăm sóc khách hàng của chúng tôi, bạn sẽ luôn được hỗ trợ và giải đáp mọi thắc mắc. Hãy tham gia với chúng tôi để trải nghiệm những chuyến đi tuyệt vời và tạo ra những kỷ niệm đáng nhớ cùng những người thân yêu của bạn."</p>
    <div class="img">
        <img src="../content/images/img-about (1).png" alt="">
    </div>
    </div>
    <div class="count">
        <div class="count-regis">
          <img src="../content/images/travel.png" alt="visa">
          <h3>32,654</h3>
          <p>Du khách đã đăng ký</p>
        </div>
        <div class="count-location">
          <img src="../content/images/tourism.png" alt="plane">
          <h3>1,019</h3>
          <p>Địa điểm du lịch</p>
        </div>
        <div class="count-complete">
          <img src="../content/images/tour.png" alt="transport">
          <h3>20,500</h3>
          <p>Tour hoàn thành</p>
        </div>
        <div class="count-sort">
          <img src="../content/images/work.png" alt="hotel">
          <h3>150</h3>
          <p>Loại tour du lịch</p>
        </div>
      </div>
      <div id="banner">
        <img src="../content/images/hihi.png" alt="">
      </div>
      <footer>
        <div class="fst">
          <p>VieTravel</p>
          <p>Địa chỉ: 750 Sư Vạn Hạnh (nối dài) <br>P.12, Q.10, TP.HCM, Việt Nam</p>
          <p>Điện Thoại: 028 6256 3737</p>
          <p>Email: info@pavietnam.vn</p>
        </div>
        <div class="tst">
          <p>Dịch Vụ</p>
          <p>Đăng ký visa</p>
          <p>Đăng Ký vé máy bay</p>
          <p>Vận chuyển - đưa đón</p>
          <p>Khách Sạn - Lưu Trú</p>
        </div>
        <div class="thst">
          <p>Tour Du Lịch</p>
          <p>Tour Châu Âu</p>
          <p>Tour Châu Á</p>
          <p>Tour Bắc Mỹ</p>
        </div>
        <div class="fst">
          <p>Danh Mục</p>
          <p>Trang Chủ</p>
          <p>Giới Thiệu</p>
          <p>Dịch Vụ</p>
          <p>Tin Tức</p>
        </div>
      </footer>
</body>

</html>