<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="../content/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
          <a href="depict.html"><img src="../content/images/VIETRAVEL - TRANQUILILY.png" alt="Logo"></a>
        </div>
        <ul class="navbar-menu">
          <li><a href="index.html">Trang Chủ</a></li>
          <li class="has-submenu">
            <a href="#">Gói Tour</a>
            <ul class="submenu">
              <li><a href="#">Tour Châu Âu</a></li>
              <li><a href="#">Tour Châu Á </a></li>
              <li><a href="#">Tour Nam Mỹ</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">Dịch Vụ</a>
            <ul class="submenu">
              <li><a href="#">Vé Máy Bay</a></li>
              <li><a href="#">Vé Visa </a></li>
              <li><a href="#">Vận chuyển - Đưa đón</a></li>
              <li><a href="">Khách Sạn -Lưu Trú</a></li>
            </ul>
          </li>
    
          <li class="has-submenu">
            <a href="#">Tin Tức</a>
            <ul class="submenu">
              <li><a href="#">Tin Trong Nước</a></li>
              <li><a href="#">Tin Quốc Tế </a></li>
       
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">Thư Viện</a>
            <ul class="submenu">
              <li><a href="#">Hình Ảnh</a></li>
              <li><a href="#">Video </a></li>
     
            </ul>
          </li>
          <li><a href="#">Liên Hệ</a></li>
          <li><a href="#">Đăng Ký</a></li>
          <li class="has-submenu">
            <a href="#">Đăng Nhập</a>
            <ul class="submenu">
              <li><a href="#">User</a></li>
              <li><a href="#">Admin </a></li>
            </ul>
          </li>
         
          <li><a href="#"><i class="fas fa-search"></i></a>Tìm Kiếm</li>
        </ul>
        </nav>
        <div class="banner">
            <img src="../content/images/thư giản trên bờ biển.jpg" alt="">

            <div class="detail">
                <div class="image">
                    <img src="../content/images/brazil-tour.jpg" alt="">
                </div>
            </div>
        </div>
</body>
</html>